---
sitemap: false
---

/*
 *
 *  HPSTR
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "reset";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "gist";
@import "grid";
@import "elements";
@import "animations";
@import "dl-menu";
@import "page";

.pad {
  padding: 5px;
  border: none;
}

table.function-calls {
  border-collapse: collapse;
  background-color: #272822;
  tr {
    td, th {
      text-align: left;
      color: white !important;
      padding: 5px;
    }

  }
}
